:root {
  --text-color-white: rgb(234, 234, 234);
  --text-color-gray: rgb(195, 192, 192);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: rgb(16, 16, 16);
}

.navBar {
  box-sizing: border-box; /* Ensure padding and borders are included in total width */
  height: 70px;          /* Set the height */
  display: flex;         /* Use Flexbox for layout */
  justify-content: space-between; /* Space items evenly */
  align-items: center;   /* Center items vertically */
  width: 80%;            /* Set the width of the navbar */
  margin: 0 auto;     /* Center horizontally with top margin */
  /* background-color: red; */ /* Optional: Add background color for visibility */
  /* border-style: solid; */ /* Optional: Add a border for visibility */
}

.navLeftSideContainer {
  display: flex;
  color: var(--text-color-white);
  font-size: 15px;
  justify-content: center;
  align-items: center;
}

.navLogoDropdown {
  position: relative;
  display: inline-block;
}

.navLogoDropdownContent {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #141414;
  min-width: 160px;
  z-index: 1;
  left: 0;
  top: 100%;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  font-size: 13px;
}

.navLogoSection {
  color: var(--text-color-gray);
  text-decoration: none;
  display: flex;
  padding: 9px;
}

.navLogoDropdown:hover .navLogoDropdownContent {
  display: flex;
}

.navLogoSection:hover {
  color: white;
}

.navLogoText {
  margin-left: 7px;
}

.navLogoButton:hover {
  color: white;
}


.navRightSideContainer {
  color: var(--text-color-white);
  display: flex;
}
.moonIcon,
.menuIcon {
  width: 25px;
  height: 25px;
}
.moonIcon {
  margin-right: 10px
}

.navMenuDropdown {
  position: relative;
  display: inline-block;
}

.navMenuDropdownContent {
  display: none;
  position: absolute;
  background-color: #141414;
  min-width: 160px;
  z-index: 1;
  right: 0; /* Align to the left of the parent */
  /* Position it below the parent */
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

.navMenuDropdownContent a {
  color: var(--text-color-gray);
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  font-size: 13px;
  margin: 15px;
}

.navMenuDropdownContent a:hover {
  color: white
}


.navMenuDropdown:hover .navMenuDropdownContent {
  display: block;
}

.menuIcon:hover,
.moonIcon:hover {
  filter: grayscale(100%) sepia(100%) hue-rotate(180deg) brightness(1.5);
  cursor: pointer;
}


.aboutSection {
  margin-top: 50px;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

.aboutHeader {
  color: var(--text-color-white)
}

.aboutDescription {
  color: var(--text-color-gray)
}

button {
  all: unset; /* Reset all styles (including inherited ones) */
  display: inline-block; /* Reinstate display to behave like a button */
  cursor: pointer; /* Ensure pointer cursor shows on hover */
}

a {
  all: unset; /* Reset all styles */
  display: inline; /* Restore default display behavior */
  cursor: pointer; /* Show pointer cursor on hover */
  color: inherit; /* Inherit text color from parent */
}

.aboutLinkedIn,
.aboutGitHub {
  color: var(--text-color-white);
  font-size: 13px;
  background-color: rgb(37, 37, 37);
  padding: 2px 13px;
  border-radius: 25px;
  transition: color 0.15s ease, background-color 0.15s ease;
}

.aboutLinkedIn:hover,
.aboutGitHub:hover {
  color: rgb(37, 37, 37);
  background-color: var(--text-color-white);
}

.aboutLinks {
  margin-top: 15px;
  width: 100%;
  /* background-color: red; */
}

.aboutLinkedIn {
  margin-right: 20px;
}

.projectSection {
  margin-top: 50px;
  width: 80%;
  margin: 50px auto;
  box-sizing: border-box;
}

.projectHeader {
  color: var(--text-color-white)
}

.projectContainer {
  margin-top: 20px;
}

.projectImgContainer {
  background-color: rgb(38, 37, 37);
  height: 200px;
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 20px;
  box-sizing: border-box;
  transition: border-color 0.15s ease;
  overflow: hidden;
}

.projectImg {
  width: 100%; /* Makes the image scale to the width of the container */
  height: 100%; /* Ensures the image covers the container's height */
  object-fit: cover; /* Ensures the image doesn't get stretched */
  filter: grayscale(70%); /* 50% grayscale effect */
  transition: filter 0.3s ease; /* Smooth transition */
}

.projectImg:hover {
  filter: grayscale(0%); /* Remove grayscale on hover */
}

#project1Img {
  transform: translate(15px, -5.8px) scale(1.25);
}

#project2Img {
  transform: translate(40px, 0px) scale(1.25);
}

.projectTitle,
.projectDescription {
  color: var(--text-color-gray);

}

.projectWordContainer:hover .projectTitle,
.projectWordContainer:hover .projectDescription {
  color: white;
}

.projectTitle {
  font-size: 13px
}

.projectDescription {
  margin-bottom: 30px;
  font-size: 12px;
  margin-left: 10px;
}

.contactHeader {
  color: var(--text-color-white)
}

.inputLabel {
  color: var(--text-color-gray)
}

.contactSection {
  margin-top: 50px;
  width: 80%;
  margin: 50px auto;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.contactHeader {
  margin-bottom: 20px;
}

.inputFieldContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; /* Add some space below the input */
}

.inputLabel {
  font-size: 15px;
  margin-bottom: 5px; /* Add space between label and input field */
}

.inputText {
  font-size: 10px;
  border: none;
  border-radius: 3px;
  width: 75%;
  height: 20px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  background-color: rgb(37, 37, 37);
  color: var(--text-color-gray);
  padding-left: 3px;
}

.inputText:focus {
  outline: none; /* Remove default outline */
}

.submitButton {
  color: var(--text-color-white);
  font-size: 13px;
  background-color: rgb(37, 37, 37);
  padding: 2px 13px;
  border-radius: 25px;
  transition: color 0.15s ease, background-color 0.15s ease;
}

.submitButton:hover {
  color: rgb(37, 37, 37);
  background-color: var(--text-color-white);
}

/* portrait tablets */
@media only screen and (min-width: 600px) {
  .navBar,
  .aboutSection,
  .projectSection,
  .contactSection {
    width: 65%;
  }

  .navBar {
    margin-top: 30px;
  }

  .navLogoButton {
    font-size: 20px;
  }

  .navLogoDropdownContent {
    font-size: 15px;
    min-width: 180px;
  }

  .navMenuDropdownContent a {
    font-size: 16px;
    min-width: 20px;
  }
}

/* landscape tablets */
@media only screen and (min-width: 768px) {
  .navBar,
  .aboutSection,
  .projectSection,
  .contactSection {
    width: 65%;
  }

  .navBar {
    margin-top: 30px;
  }

  .navLogoButton {
    font-size: 20px;
  }

  .navLogoDropdownContent {
    font-size: 15px;
    min-width: 180px;
  }

  .navMenuDropdownContent a {
    font-size: 16px;
    min-width: 20px;
  }
}

/* laptops */
@media only screen and (min-width: 992px) {
  .navBar,
  .aboutSection,
  .projectSection,
  .contactSection {
    width: 50%;
  }

  .navBar {
    margin-top: 25px;
    height: 100px;
  }

  .navLogoDropdownContent {
    font-size: 15px;
    min-width: 225px;
  }

  .navMenuDropdownContent a {
    font-size: 15px;
    min-width: 210px;
  }

  .projectHeader,
  .contactHeader {
    font-weight: bold;
    font-size: 20px;
  }

  .projectTitle {
    font-size: 20px;
  }
  .projectDescription {
    font-size: 15px;
  }

  .aboutGitHub,
  .aboutLinkedIn,
  .submitButton {
    height: 30px;
  }
  
  #project1Img {
    transform: translate(15px, 50.8px) scale(1.5);
  }
  #project2Img {
    transform: translate(80px, 0px) scale(1.25);
  }
  
}

/* monitors */
@media only screen and (min-width: 1200px) {
  .navBar,
  .aboutSection,
  .projectSection,
  .contactSection {
    width: 50%;
  }

  .navBar {
    margin-top: 25px;
    height: 100px;
  }

  .navLogoDropdownContent {
    font-size: 15px;
    min-width: 225px;
  }

  .navMenuDropdownContent a {
    font-size: 15px;
    min-width: 210px;
  }

  .projectHeader,
  .contactHeader {
    font-weight: bold;
    font-size: 20px;
  }

  .projectTitle {
    font-size: 20px;
  }
  .projectDescription {
    font-size: 15px;
  }

  .aboutGitHub,
  .aboutLinkedIn,
  .submitButton {
    height: 30px;
  }
  
  #project1Img {
    transform: translate(10px, 50.8px) scale(1.75);
  }
  #project2Img {
    transform: translate(80px, 0px) scale(1.25);
  }
  
}